<mat-toolbar class="main-nav-background">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="hamburgerMenu">
            <svg class="bi bi-list header-content-text" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <mat-menu #hamburgerMenu="matMenu">
            <mat-list role="list">
                <mat-list-item role="listitem" class="mat-menu-content" (click)="openNews('business')">Business</mat-list-item>
                <mat-list-item role="listitem" class="mat-menu-content" (click)="openNews('economy')">Economy</mat-list-item>
                <mat-list-item role="listitem" class="mat-menu-content" (click)="openNews('technology')">Technology</mat-list-item>
                <mat-list-item role="listitem" class="mat-menu-content" (click)="openNews('politics')">Politics</mat-list-item>
                <!--<mat-list-item role="listitem" class="mat-menu-content" (click)="openNews('movieReviews')">Movie Reviews</mat-list-item>-->
              </mat-list>
          </mat-menu>
        <img alt="Relay News Logo" class="img-fluid logo small-window-logo" src="../../assets/logo/relayLogo.png">
        <h3 class="header-content-text small-window-title-margin">Relay News</h3>
        <div class="header-content-1st-button small-window-hide">
            <button mat-button class="header-content-text" (click)="openNews('business')">Business</button>
            <button mat-button class="header-content-text" (click)="openNews('economy')">Economy</button>
            <button mat-button class="header-content-text" (click)="openNews('technology')">Technology</button>
            <button mat-button class="header-content-text" (click)="openNews('politics')">Politics</button>
            <!--<button mat-button class="header-content-text" (click)="openNews('movieReviews')">Movie Reviews</button>-->
        </div>
        <div class="push"></div>
        <div class="small-window-search-width">
            <mat-form-field class="small-window-search-width">
                <mat-label></mat-label>
                <input matInput class="text-color" [(ngModel)]="searchContentValue" (ngModelChange)="searchTyped()" placeholder="Search Relay News">
            </mat-form-field>
        </div>
        <div class="search-icon">
            <button mat-button (click)="searchContent()" [disabled]="searchDisabled">
                <svg class="bi bi-search header-content-text" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                </svg>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>