.main-nav-background{
    background-color: #005594;
    position:fixed;
    top: 0px;
    z-index: 1000;
}

.logo{
    width: 11vw;
    height: 50px;
    margin-right: -25px;
    margin-left: -25px;
    cursor: pointer;
}

.push{
    flex-grow: 1;
}

.search-icon{
    margin-right:50px;
    cursor: pointer;
}

.header-content-1st-button{
    padding-left:16px;
}

.header-content-text{
    color: white;
    cursor: pointer;
}

.mat-menu-content{
    color: #3F51B5;
    border-bottom: 1px solid #DEDEDE;
    cursor: pointer;
}

.mat-menu-content:hover {
    background-color: #DEDEDE;
}

.text-color{
    color: white;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .small-window-hide{
        display: none;
    }

    .small-window-logo{
        margin-left: -4px;
        margin-right: -11px;
        cursor: pointer;
    }

    .small-window-search-width{
        max-width: 24vw;
    }

    .small-window-title{
        margin-right: 20px;
        cursor: pointer;
    }

}