<div class="footer-background footer-content-text content-height footer-content-top-padding">
    <div class="row footer-margin">
        <img alt="Relay News Logo" class="img-fluid logo" src="../../assets/logo/relayLogo.png">
        <h3 class="application-title">Relay News</h3>
        <div class="push"></div>
        <img src="https://developer.nytimes.com/files/poweredby_nytimes_200c.png?v=1568441068653" class="nyt-logo" (click)="openNYTDeveloperSite($event)" alt="new york times api logo">
    </div>
    <hr class="footer-logo-below-hr">
    <span class="disclaimer">Design of this website is inspired from CNBC. This website is purely non-commercial and does not earn any money!</span>
</div>