<app-componentHeading [mainNewsType]="mainNewsType" [newsType]="newsType" ></app-componentHeading>
<div class="row bread-crumbs-whole justify-content-md-center">
    <span class="text-center"><span class="bread-crumb" (click)="fetchRelatedNews('movies')"><strong>MOVIES</strong></span> | <span class="bread-crumb" (click)="fetchRelatedNews('arts')"><strong>ARTS</strong></span> | <span class="bread-crumb" (click)="fetchRelatedNews('magazine')"><strong>MAGAZINE</strong></span> | <span class="bread-crumb" (click)="fetchRelatedNews('theater')"><strong>THEATER</strong></span></span>
</div>
<app-displayNews [newsContents1]="newsContents1" [newsContents2]="newsContents2" [moreNewsContents1]="moreNewsContents1" [moreNewsContents2]="moreNewsContents2" [moreNewsContents3]="moreNewsContents3" ></app-displayNews>
<br>
<div *ngIf="showMostViewed">
    <app-mostViewedComponent></app-mostViewedComponent>
</div>