.mat-card-design {
    max-width: 550px;
    margin-left:40px;
    min-height: 482px;
    max-height: 482px;
}

.mat-card-small-middle-design{
    max-width: 350px;
    margin-left:30px;
    min-height: 368px;
    max-height: 368px;
}

.mat-card-small-right-design{
    max-width: 350px;
    margin-right:80px;
    min-height: 368px;
    max-height: 368px;
}

.mat-card-small-left-design{
    max-width: 350px;
    margin-left:80px;
    min-height: 368px;
    max-height: 368px;
}

.picture{
    max-height: 345px;
}

.picture:hover{
    cursor: pointer;
}

.news-title:hover{
    cursor: pointer;
}

.tiny-picture{
    max-height: 230px;
    min-height: 230px;
}

.tiny-picture:hover{
    cursor: pointer;
}

.author-color{
    color:#2068A0;
}

.time-color{
    color:#737373;
}

.time-space{
    padding-left: 15px;
}

.more-info-space{
    padding-right: 20px;
}

.mat-content-last-row{
    margin-top:10px;
}

.push{
    flex-grow: 1;
}