.component-heading{
    color: #002F6D;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.component-heading-underline{
    height: 5px;
    color: #FCB700;
}

.top-hr-coloring{
    background-color: #002F6D;
    width: 90vw;
    height: 1px;
}

.search-results-heading{
    font-size: 20px;
    margin-left: 64px;
}

.no-search-results{
    font-size: 16px;
}

.text-center{
    text-align: center;
}

.middle-more-button{
    margin-bottom:20px;
}

.more-button-style{
    border: 1px solid #002F6C;
    background-color: white;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .small-window-load-more-button{
        margin-left: 147px;
    }

}