.component-heading{
    color: #002F6D;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.component-heading-underline{
    height: 5px;
    color: #FCB700;
}

.top-hr-coloring{
    background-color: #002F6D;
    width: 90vw;
    height: 1px;
}

.search-results-heading{
    font-size: 20px;
    margin-left: 64px;
}