<app-componentHeading [mainNewsType]="mainNewsType" ></app-componentHeading>
<br>
<span class="search-results-heading"><strong>SEARCH RESULTS FOR "{{ searchValue | async }}"</strong></span>
<hr class="top-hr-coloring">
<br>
<div *ngFor="let data of searchData">
    <app-searchResults [image]="data.photo" [title]="data.title" [author]="data.author" [time]="data.time" [moreInfo]="data.url" [abstract]="data.abstract"></app-searchResults>
</div>
<div *ngIf="noSearchResults">
    <span class="no-search-results">0 SEARCH RESULTS FOR "{{ searchValue | async }}"</span>
</div>
<br>
<div class="row justify-content-md-center middle-more-button">
    <div *ngIf="moreAvailable">
        <button mat-raised-button class="more-button-style small-window-load-more-button" (click)="getMoreOnSearch()">Load More</button>
    </div>
</div>